@import "variables";
@import "mixins";

.footer {
  background-color: $black;
  margin-bottom: -1px;
  .region-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include footer;
  }
  .container-fluid {
    @include container;
  }
}
